
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(194, 6, 6, 0.1);
    padding: 20px;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo das mensagens */
.error, .success, .equals {
    display: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
}

.error {
    background-color: #f8d7da;
    color: #811924;
    display: none;
}

.success {
    background-color: #d4edda;
    color: #074b17;
    display: none;
}

.equals {
    background-color: #e2e3e5;
    color: #6c757d;
    display: none;
}